<div class="standard-container">
  <div class="row row-header">
    <div>
      <%= identifier %>
    </div>
    <div class="hidden-on-desktop">
      <%= description %>
    </div>
  </div>
  <div class="hidable-on-mobile description">
    <strong class="hidden-on-mobile rule-desktop"><%= description %></strong>
    <%= summary %>
  </div>
  <div class="hidable-on-mobile row">
    <div class="item-header">
      Concept
    </div>
    <div>
      <%= concept %>
    </div>
  </div>
  <div class="hidable-on-mobile row">
    <div class="item-header">
      Subconcept
    </div>
    <div>
      <%= subconcept %>
    </div>
  </div>
  <div class="hidable-on-mobile row">
    <div class="item-header">
      Practices
    </div>
    <div>
      <%= practices %>
    </div>
  </div>
  <div class="hidable-on-mobile row hidden-on-medium">
    <div class="item-header">
      Grade Level
    </div>
    <div>
      <%= gradeLevel %>
    </div>
  </div>
  <a class="more-href">more...</a>
</div>
